ion-content {
    .before {
        text-decoration: line-through;
        color: red;
        font-weight: 100;
        text-align: right;

    }
    .after{
        color: rgb(102, 181, 255);
        font-weight: 900;
        text-align: right;
        
        

    }
    .icona {
        font-size: 20px;
    }
    
}