@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap');
ion-menu {
    ion-label {
        letter-spacing: 3px;
        padding: 10px 0;
        font-weight: 700;
    }
    ion-title {
        font-family: 'El Messiri';
        letter-spacing: 1.5px;
        font-size: 20px;
        
    }
    
}